*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    transition: all 2s ease;
}

a{
    text-decoration: none;
    color: #fff;
}

.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.calculator{
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px #000;
}

.theme-toggler{
    position: absolute;
    top: 30px;
    right: 30px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
}

.theme-toggler.active{
    color: #000;
}

.theme-toggler.active::before{
    background-color: #fff;
}

.theme-toggler::before{
    content: "";
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #333;
    z-index: -1;
}

.display-screen{
    border-radius: 10px;
    
}

#display{
    margin: 0 10px;
    margin-top: 40px;
    height: 65px;
    width: auto;
    max-width: 270px;
    display: flex;
    padding-top: 20px;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 0;
    overflow-x: scroll;
    transition: all 0.5s ease;
    letter-spacing: 0.5px;
}

#result{
    margin: 0 15px;
    padding-top: 0;
    height: 25px;
    width: auto;
    max-width: 270px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    font-size: 17px;
    margin-top: 20px;
    letter-spacing: 0.5px;
}


#display::-webkit-scrollbar{
    display: block;
    height: 3px;
}

#result::-webkit-scrollbar{
    display: block;
    height: 3px;
}

button{
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}

button:hover{
    transform: scale(1.1);
}

svg{
    margin-top: 4px;
    margin-left: 1p;
    transition: all 0.5s ease;
}

/* Light Theme */

.calculator{
    background-color: #fff;
}

.calculator #display{
    color: #0a1e23;
}

.calculator .display-screen{
    background-color: #eee;
    box-shadow: 0 0 10px #000;
}

.calculator #result{
    color: #0a1e23;
}

.calculator button#clear{
    background-color: #ffa899;
    color: rgb(255, 37, 37);
}

.calculator svg#backspace{
    fill: rgb(255, 37, 37);
}

.calculator button.btn-number{
    background-color: #ddd;
    color: #000;
}

.calculator button.btn-operator{
    background-color: #fffd69;
}

.calculator button.btn-equal{
    background-color: #99ff84;
}

/* Dark Theme */

body.dark{
    background-image: linear-gradient(to bottom right, rgba(79, 51, 176, 1), rgb(255, 50, 197));
    
}

.calculator.dark{
    background-color: #071115;
}

.calculator.dark #display{
    color: #f8fafd;
}


.calculator.dark .display-screen{
    background-color: #172227;
    box-shadow: 0 0 30px #000;
}

.calculator.dark #result{
    color:#f8fafd
}

.calculator.dark svg#backspace{
    fill: #bd3740;
}


.calculator.dark button#clear{
    background-color: #2d191e;
    color: #bd3740;
}

.calculator.dark button.btn-number{
    background-color: #1b2f38;
    color: #f9fafd;
}

.calculator.dark button.btn-operator{
    background-color: #2e1f39;
    color: #bbb;
}

.calculator.dark button.btn-equal{
    background-color: #223b23;
    color: #fff;
}